:global {
  .scleAttrTree {
    @alphaBg: rgba(255, 255, 255, 0.6);
    text-align: center;
    width: 320px;

    .ant-tabs-content {
      text-align: left;
    }

    .ant-tree {
      overflow-x: auto;
    }

    .ant-tabs-nav-wrap {
      background: #fff;
    }
  }
}
