

:global {
    .container{
        position: relative;
        height: inherit; 
    }

    .scle_loading{
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        background: #f0f9ff;
        .scle_loadImg{
            height: 100%;
            img{
                max-height: 50%;
                margin: 20px auto;
            }

            .ant-progress-outer{
                max-width: 90%;
            }
        }
      
    }
    #glcanvas, #text{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }


}
