/*
    * 鑷畾涔変慨鏀箂cleView 澶у皬鍙婃牱寮�
    *
    */
#scleView {
	/* 缁橲CLE璁惧畾瀹介珮 */
	width: 100%;
	height: 100%;
}
.content {
	display: none;
}

#scleView.mobile + .content {
	display: none;
}
#scleView.mobile {
	width: 100%;
	height: 100%;
}

.upload-group {
	/* display: flex; */
}

.upload-group .ant-upload {
	margin-bottom: 10px;
	display: inline-block;
}

.partListTable {
	width: 100%;
	text-align: center;
}

#sceneNode {
	margin: 10px 0;
	width: 200px;
	line-height: 1.5;
	border-bottom: 1px solid #d9d9d9;
}

#partListHeader > tr > th,
#partList > tr > td {
	padding: 10px 5px;
	text-align: center;
}

#partListHeader > tr > th:nth-child(1),
#partListHeader > tr > th:nth-child(3) {
	width: 48px;
}
