.no-display {
	display: none;
}
.tooltip-example-right,
.tooltip-example-left {
	position: absolute;
}
.tooltip-example-right {
	top: 0;
	right: 0;
}
.tooltip-example-left {
	top: 50%;
	left: 0;
}

.overflow-test {
	height: 35px;
	overflow: hidden;
	background-color: rgba(204, 204, 204, 0.5);
}

.tooltip-container {
	transform: translateZ(0);
	position: absolute;
	max-width: 200px;
	padding: 8px 10px 10px;
	font-size: 14px;
	background-color: #2d2d2d;
	color: #fff;
	border-radius: 4px;
	z-index: 9999;
	opacity: 1;
}
.tooltip-container[class*=' tooltip-'] {
	-webkit-animation: tooltip-anim 0.8s;
	-moz-animation: tooltip-anim 0.8s;
	-o-animation: tooltip-anim 0.8s;
	animation: tooltip-anim 0.8s;
}
.tooltip-container::after {
	position: absolute;
	display: block;
	content: '';
}
.tooltip-container.tooltip-left::after {
	right: -8px;
	top: 50%;
	transform: translateY(-50%);
	border-style: solid;
	border-width: 6px 0 6px 8px;
	border-color: transparent transparent transparent #2d2d2d;
}
.tooltip-container.tooltip-right::after {
	left: -8px;
	top: 50%;
	transform: translateY(-50%);
	border-style: solid;
	border-width: 6px 8px 6px 0;
	border-color: transparent #2d2d2d transparent transparent;
}
.tooltip-container.tooltip-center::after {
	top: -8px;
	left: 50%;
	transform: translateX(-50%);
	border-style: solid;
	border-width: 0 6px 8px 6px;
	border-color: transparent transparent #2d2d2d transparent;
}

[data-tooltip] {
	cursor: pointer;
	color: #7cb342;
	display: inline-block;
}

@keyframes tooltip-anim {
	0% {
		opacity: 0;
		transform: matrix(0.5, 0, 0, 0.8, 0, 0);
	}
	20% {
		transform: matrix(1.1, 0, 0, 1.1, 0, 0);
	}
	40% {
		opacity: 1;
	}
	70% {
		transform: matrix(1, 0, 0, 1, 0, 0);
	}
	100% {
		transform: matrix(1, 0, 0, 1, 0, 0);
	}
}
@-webkit-keyframes tooltip-anim {
	0% {
		opacity: 0;
		transform: matrix(0.5, 0, 0, 0.8, 0, 0);
	}
	20% {
		transform: matrix(1.1, 0, 0, 1.1, 0, 0);
	}
	40% {
		opacity: 1;
	}
	70% {
		transform: matrix(1, 0, 0, 1, 0, 0);
	}
	100% {
		transform: matrix(1, 0, 0, 1, 0, 0);
	}
}


/*价格搜索input框*/
input, button,textarea {
	border: none;
	outline: none;
}
.cm-input{
    width: 100%;
    border: 1px solid #ccc;
    padding: 7px 0;
    background: #F4F4F7;
    border-radius: 3px;
    padding-left:5px;
	height: 32px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	resize:none;
	overflow:hidden;
	word-break: break-all;
	color: #333;
    font-size: 14px;
}
.cm-input:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.cm-btn {
    line-height: 1.499;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.015);
    box-shadow: 0 2px 0 rgba(0,0,0,0.015);
    cursor: pointer;
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    color: rgba(0,0,0,0.65);
    background-color: #fff;
    border-color: #d9d9d9;
}

.cm-btn-primary {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.045);
    box-shadow: 0 2px 0 rgba(0,0,0,0.045);
}
.cm-btn-red {
    color: #fff;
    background-color: #FF5A44;
    border-color: #FF5A44;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.045);
    box-shadow: 0 2px 0 rgba(0,0,0,0.045);
}

.cm-input[disabled] {
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    cursor: not-allowed;
    opacity: 0.8;
	border-radius: 3px;
}

.cm-btn svg{
	width: 18px;
}

.cm-input-box{
	position: absolute;
	bottom: -30px;
	left: 0;
	display: flex;
}


.input_comment{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	/* height: auto; */
}

.submit_comment{
	height: auto;
	display: flex;
	padding: 0 3px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}